@font-face {
    font-family: 'Friend Font';
    src: url('../fonts/GabrielWeissFriendsFont.woff2') format('woff2'),
        url('../fonts/GabrielWeissFriendsFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

