  <div class="grid gutter-3">
    <div class="wi-4-12">
      <p class="tx-sz2 co-tx-gr3">This website is a project for the UOC (Open University of Catalunya) - it is aimed for educational purpose only. Designed and developed by Georg Jaenisch</p>
    </div>
    <div class="wi-2-12">
      <img class="wi-max-80" src="images/logo-uoc.jpg" alt="Logo UOC">
    </div>
    <div class="wi-6-12">
      <ul class="nav-vert tx-por">
        <li><a href="about.html">About the Show</a></li>
        <li><a href="index.html">Insights</a></li>
        <li><a href="links.html">External Links</a></li>
      </ul>
    </div>
  </div>
