  <div class="container is-large">

    <div class="grid">

      <div class="wi-4-12">
        <div class="logo">
          <a href="index.html">
            <img src="images/logo-header.svg" alt="">
          </a>
        </div>
      </div>

      <div class="wi-8-12 fx fx-jst-end">
        <nav class="nav-main">

          <ul class="p-t4">

            <li><a href="about.html">About the show</a></li>
            <li><a href="insights.html">Insights</a></li>
            <li><a href="links.html">Links</a></li>

          </ul>
        </nav>

      </div>
    </div>


  </div>
